.card {
  background-color: crimson;
  width: 15%;
  position: center;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 90%;
  height: 90%;
  position: center;
  padding-top: 6%;
}

.card p {
  padding: 0px 20px 30px;
}
